.wrapper {
  width: 50%;
}
.register {
  font-size: 28px !important;
  font: "Oswald", sans-serif;
}
.register-icon {
  font-size: 3em !important;
  cursor: pointer;
}
.register-Ficon {
  color: #1a237e;
}
.register-Gicon {
  color: #d50000;
}
.register-Ficon:hover,
.register-Gicon:hover {
  transition: 0.5s;
  opacity: 0.8;
}
.create-acc-btn {
  background-color: black;
  color: white;
  border-radius: 0;
  width: 250px;
  font-weight: 600;
}
.create-acc-btn:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  transition: 0.4s;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 60%;
  }
}
@media screen and (max-width: 992px) {
  .wrapper {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 80%;
  }
}